@use "media";

:root {
  /* Colors */
  --black: #000;
  --white: #fff;

  --yellow: rgba(230, 253, 136, 1);
  --yellow-rgb: 230, 253, 136; // for rgba alpha channel

  --primary-color: var(--yellow);
  --primary-color-contrast: rgb(217, 252, 76);

  /* Fonts */
  --font-family-base: Montserrat, sans-serif;
  --font-color-base: var(--white);
  --font-color-accent: var(--primary-color);

  /* Borders */
  --border-color: rgba(255, 255, 255, 0.12);
  --border-color-accent: var(--primary-color);
  --border-radius: 18px;

  /* Backgrounds */
  --bg-color: var(--black);
  --bg-color-glass: rgba(255, 255, 255, 0.04);

  /* Sizes */
  --container-min-width: 320px;
  --container-max-width: 1440px;
  --container-padding-x: 20px;
  --header-height: 52px;

  /* Transitions */
  --transition-default: 0.25s ease-out;
  --transition-nav: 0.25s ease-out;

  /* Media */
  @include media.xs-up {
    --container-padding-x: 28px;
  }
  @include media.md-up {
    --container-padding-x: 32px;
    --border-radius: 20px;
  }
  @include media.xl-up {
    --header-height: 50px;
    --container-padding-x: 58px;
    --border-radius: 24px;
  }
}
