@use "../helpers/media";

.btn {
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 12px 30px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: background-color var(--transition-default);

  @include media.sm-up {
    min-height: 70px;
    min-width: 258px;
    padding: 15px 50px;
    border-radius: 12px;
    font-size: 16px;
  }

  &:hover {
    background-color: #c9e176;
  }

  &_secondary {
    background-color: var(--white);

    &:hover {
      background-color: var(--white-dark);
    }
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 12px 30px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  @include media.sm-up {
    min-height: 70px;
    min-width: 258px;
    padding: 15px 50px;
    border-radius: 12px;
    font-size: 16px;
  }
}
