@use "../helpers/media";

.expectations {
  display: grid;
  gap: 8px;

  @include media.phone-up {
    gap: 12px;
  }
  @include media.sm-up {
    gap: 18px;
  }
  @include media.md-up {
    gap: 22px;
  }
  @include media.lg-up {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
  @include media.xl-up {
    gap: 28px 26px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;

    &_title {
      aspect-ratio: 319 / 266;

      @include media.phone-up {
        aspect-ratio: 2 / 1;
      }
      @include media.sm-up {
        aspect-ratio: 692 / 276;
      }
      @include media.lg-up {
        grid-column: 2 span;
        aspect-ratio: auto;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: radial-gradient(
          ellipse 460px 140px at 12% 83%,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.45) 40%,
          transparent 100%
        );
      }
    }

    &_pic {
      @include media.lg-down {
        display: none;
      }
      @include media.lg-up {
        aspect-ratio: 424 / 350;
      }
    }
  }
  &__title {
    position: relative;
    max-width: 13.2em;
    padding: 20px;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 800;
    color: var(--font-color-accent);
    word-break: break-word;
    overflow-wrap: break-word;
    z-index: 10;

    @include media.xs-up {
      padding: 28px;
      font-size: 28px;
    }
    @include media.phone-up {
      padding: 20px;
      font-size: 24px;
    }
    @include media.sm-up {
      padding: 28px;
      font-size: 28px;
    }
    @include media.md-up {
      font-size: 30px;
    }
    @include media.xl-up {
      padding: 38px 42px;
      font-size: 38px;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
