@use "../helpers/media";

.footer {
  position: relative;
  margin-top: auto;
  padding: 40px 0;

  @include media.md-down {
    background: radial-gradient(
      ellipse 50% 100px at center bottom,
      rgba(var(--yellow-rgb), 0.12) 0%,
      transparent 100%
    );
  }
  @include media.md-up {
    padding: 60px 0;
    background: none;
  }

  &:before {
    @include media.md-up {
      content: "";
      pointer-events: none;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 550px;
      width: 100%;
      background: radial-gradient(
        circle 367px at calc(100% - 103px - var(--container-padding-x)) 110%,
        rgba(var(--yellow-rgb), 0.4) 15%,
        rgba(var(--yellow-rgb), 0.18) 40%,
        transparent 100%
      );
    }
    @include media.xxl-up {
      background: radial-gradient(
        circle 367px at calc(50vw + 720px - 103px - var(--container-padding-x))
          110%,
        rgba(var(--yellow-rgb), 0.4) 15%,
        rgba(var(--yellow-rgb), 0.18) 40%,
        transparent 100%
      );
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 1;

    @include media.md-down {
      align-items: center;
    }
    @include media.md-up {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
  &__base {
    @include media.md-up {
      flex: 1;
    }
  }
  &__side {
    @include media.md-up {
      flex-shrink: 1;
      max-width: 218px;
    }
  }
  &__organizers-link {
    text-decoration: underline;
    color: var(--font-color-base);
    text-transform: lowercase;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.1;
    transition: color var(--transition-default);

    @include media.md-up {
      font-size: 48px;
    }
    @include media.lg-up {
      font-size: 58px;
    }
    @include media.xl-up {
      font-size: 68px;
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}
