@use "../helpers/media";

.subscription {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 999px;
  transition: background-color var(--transition-default);

  @include media.xs-up {
    padding: 20px;
  }

  &:has(.subscription__input:focus) {
    background-color: rgba(255, 255, 255, 0.07);

    .subscription {
      &__form {
        box-shadow: 0 0 60px rgba(var(--yellow-rgb), 0.9);
      }
    }
  }

  &__form {
    position: relative;
    display: flex;
    gap: 2px;
    padding: 2px;
    border-radius: 999px;
    background-color: var(--white);
    box-shadow: 0 0 120px rgba(var(--yellow-rgb), 0.7);
    transition: box-shadow var(--transition-default);

    @include media.md-up {
      padding: 4px;
    }
  }
  &__input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 999px;
    display: block;
    width: 100%;
    height: 56px;
    padding: 0 12px 0 22px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: var(--black);

    @include media.sm-up {
      font-size: 14px;
    }
    @include media.md-up {
      height: 58px;
    }
  }
  &__btn {
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
    border-radius: 999px;
    background-color: var(--primary-color);
    color: var(--black);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    transition: background-color var(--transition-default);

    @include media.sm-up {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media.md-up {
      padding-left: 50px;
      padding-right: 50px;
      min-width: 240px;
    }

    &:hover {
      background-color: var(--primary-color-contrast);
    }
  }
}
