@use "../helpers/media";

.embla {
  &_tickets {
    &.embla {
      @media (min-width: 576px) and (max-width: 991px) {
        overflow: hidden;
        margin: 0 calc(-1 * var(--container-padding-x));
      }

      .embla {
        &__container {
          display: grid;
          gap: 8px;

          @media (min-width: 576px) and (max-width: 991px) {
            display: flex;
            gap: 0;
            padding: 0 var(--container-padding-x);
          }
          @include media.lg-up {
            grid-template-columns: repeat(3, 1fr);
            max-width: 986px;
            margin: 0 auto;
            gap: 22px;
          }
          @include media.xxl-up {
            gap: 28px;
          }
        }
        &__slide {
          @media (min-width: 701px) and (max-width: 991px) {
            display: flex;
            flex-direction: column;
            min-width: 0;
            flex: 1;
            flex: 0 0 47%;
          }
          @media (min-width: 576px) and (max-width: 700px) {
            flex: 0 0 94%;
          }

          &:not(:first-child) {
            @media (min-width: 576px) and (max-width: 991px) {
              flex-basis: calc(47% + var(--container-padding-x));
              padding-left: var(--container-padding-x);
              margin-left: -10px;
            }
            @media (min-width: 576px) and (max-width: 700px) {
              flex-basis: calc(94% + var(--container-padding-x));
            }
          }

          &:last-child {
            @media (min-width: 576px) and (max-width: 991px) {
              margin-right: var(--container-padding-x);
            }
          }

          .ticket {
            height: 100%;

            @media (min-width: 576px) and (max-width: 991px) {
              user-select: none;
            }
          }
        }
      }
    }
  }
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 8px 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-color-glass);
  transition: transform var(--transition-default);

  &:hover {
    @include media.lg-up {
      transform: scale(1.05);
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color);

    @include media.xl-up {
      font-size: 28px;
    }
  }
  &__price {
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 68px;
    line-height: 1.1;

    @include media.xl-up {
      font-size: 78px;
    }
  }
  &__content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 38px;

    @include media.lg-up {
      gap: 0;
    }
    @include media.xl-up {
      margin-bottom: 45px;
    }
  }
  &__icon {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    @include media.lg-up {
      margin-bottom: 38px;
    }

    svg {
      max-height: 100%;
    }
  }
  &__list-item {
    font-size: 16px;
    line-height: 1.4;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &__button {
    width: 100%;
    margin-top: auto;

    .btn,
    .badge {
      width: 100%;
    }
  }
}
