// local fonts
@mixin font-face($family, $weight, $name) {
  @font-face {
    font-display: swap;
    font-family: $family;
    font-style: normal;
    font-weight: $weight;
    src: url("../assets/fonts/" + $name + ".woff2") format("woff2");
  }
}

// Montserrat font faces
@include font-face("Montserrat", 400, Montserrat-Regular);
@include font-face("Montserrat", 500, Montserrat-Medium);
@include font-face("Montserrat", 600, Montserrat-SemiBold);
@include font-face("Montserrat", 700, Montserrat-Bold);
@include font-face("Montserrat", 800, Montserrat-ExtraBold);
