@use "helpers/media";

// Layout styles
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 500;
  font-kerning: normal;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  line-height: 1.5;
  color: var(--font-color-base);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.main {
  flex: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);

  &_full-width {
    max-width: 100%;
  }

  &__no-padding {
    @include media.sm-down {
      margin: 0 calc(-1 * var(--container-padding-x));
    }
  }
  &__small-padding-mobile {
    @include media.sm-down {
      margin: 0 calc(-1 * var(--container-padding-x) + 7px);
    }
  }
}

.section {
  padding: 40px 0;

  @include media.md-up {
    padding: 60px 0;
  }
  @include media.xl-up {
    padding: 80px 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &_with-bg {
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, var(--bg-color) 0, transparent 25%);
      z-index: 1;
    }
  }
  &_stats {
    padding: 60px 0 40px;

    @include media.md-up {
      padding: 100px 0 60px;
    }
    @include media.xl-up {
      padding: 140px 0;
    }

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 1600px;
      height: 600px;
      border-radius: 50%;
      background: radial-gradient(
        100% 100% at center,
        rgba(var(--yellow-rgb), 0.3) 0%,
        rgba(var(--yellow-rgb), 0) 35%,
        transparent 100%
      );
      transform: translate(-50%, -300px) rotate(-26deg);
      opacity: 0.6;
    }
  }
  &_topics {
    .section {
      &__bg {
        @include media.phone-down {
          object-fit: contain;
        }
      }
    }
  }
  &_tickets {
    padding-top: 60px;
    background: radial-gradient(
      ellipse 133% 225px at top center,
      rgba(var(--yellow-rgb), 0.18) 0%,
      transparent 100%
    );

    @include media.md-up {
      padding-top: 80px;
      background: radial-gradient(
        ellipse 100% 296px at top center,
        rgba(var(--yellow-rgb), 0.18) 0%,
        transparent 100%
      );
    }
    @include media.xl-up {
      padding-top: 100px;
      background: radial-gradient(
        ellipse 100% 590px at top center,
        rgba(var(--yellow-rgb), 0.18) 0%,
        transparent 100%
      );
    }

    &:target {
      @include media.sm-up {
        scroll-margin-top: 10px;
      }
    }
  }
  &_location {
    padding: var(--header-height) 0 20px;
  }
  &_speakers,
  &_sponsors {
    &:target {
      scroll-margin-top: 20px;

      @include media.sm-up {
        scroll-margin-top: 30px;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 10;
  }
  &__caption {
    margin-bottom: 35px;

    @include media.md-up {
      margin-bottom: 45px;
    }
    @include media.lg-up {
      margin-bottom: 55px;
    }
    @include media.xxl-up {
      margin-bottom: 80px;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.footer {
  margin-top: auto;
}
