{% extends "../layouts/layout.njk" %}
{% block title %}Re:Location IT Summit{% endblock %}
{% block content %}
  {% include "hero.njk" %}
  {% include "stats.njk" %}
  {% include "inspiration.njk" %}
  {% include "expectations.njk" %}
  {# {% include "topics.njk" %} #}
  {% include "subscription.njk" %}
  {# {% include "speakers.njk" %} #}
  {# {% include "schedule.njk" %} #}
  {% include "tickets.njk" %}
  {# {% include "location.njk" %} #}
  {# {% include "sponsors.njk" %} #}
{% endblock %}
{% block scripts %}{% endblock %}