<section class="section section_stats" id="about">
  <picture class="section__bg">
    <source media="(max-width: 430px)" srcset="assets/img/bg-stats_mob.webp">
    <img class="section__bg-img" src="assets/img/bg-stats.webp" alt="">
  </picture>
  <div class="section__container container">
    <div class="stats">
      <div class="stats__item">
        <div class="stats__inner">
          <div class="stats__count">500</div>
          <div class="stats__text">Предпринимателей и специалистов</div>
        </div>
      </div>
      <div class="stats__item">
        <div class="stats__inner">
          <div class="stats__count">20+</div>
          <div class="stats__text">Докладчиков: миграция, бизнес и карьера</div>
        </div>
      </div>
      <div class="stats__item stats__item_big stats__item_with-bg">
        <div class="stats__inner">
          <div class="stats__count">3</div>
          <div class="stats__text">Незабываемых дня в Барселоне</div>
        </div>
        <div class="stats__button">
          <a href="#" class="btn btn_secondary">Стать спонсором</a>
        </div>
      </div>
    </div>
  </div>
</section>