{% set tickets = [
  {
    title: "Первый батч",
    price: "€20",
    icon: 'diamond',
    buttonLink: '#'
  }, {
    title: "Второй батч",
    price: "€300",
    icon: 'fire',
    buttonPlaceholder: 'С 11 ноября'
  }, {
    title: "VIP",
    price: "€800",
    icon: 'crown',
    description: [
      "+ Нетворкинг ужин", "+ Регистрация без очереди", "+ Выступление в питч вечере"
    ],
    buttonLink: '#'
  }
] %}

<section class="section section_tickets" id="tickets">
  <div class="container">
    <div class="section__caption">
      <h2 class="title">Билеты</h2>
    </div>
    <div class="tickets-grid">
      {% for ticket in tickets %}
        {% include "ticket-item.njk" %}
      {% endfor %}
    </div>
  </div>
</section>