<a href="#{{item.id}}" class="topic">
  <h3 class="topic__title">{{item.title}}</h3>
  <div class="topic__bottom">
    <div class="topic__speaker">
      <img src="assets/img/{{item.image}}.webp" alt="" class="topic__avatar"/>
      <p class="topic__name">{{item.name}}</p>
    </div>
    <div class="topic__arrow">
      {{ svgIcon("arrow-long.svg") | safe }}
    </div>
  </div>
</a>